Repository gesiscss/orc2-status-bot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build container with Python for test, Test script lint, Test script run

.gitlab-ci.yml:

Build container with Python for test:
  stage: build
  rules:
    - if: ($CI_PIPELINE_SOURCE != "schedule") && $CI_COMMIT_BRANCH == 'main'
      changes:
        - Dockerfile
        - test/env.yaml
  image: docker-private.gesis.intra/gesis/dc:5.7
  services:
    - name:  docker-private.gesis.intra/gesis/dind:5.5
      alias: docker
  dependencies: []
  script:
    - docker build --no-cache --pull --target test -t docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/test:latest .
    - docker push docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/test:latest

Test script lint:
  stage: test
  rules:
    - if: (($CI_PIPELINE_SOURCE != "schedule") && $CI_COMMIT_BRANCH == 'main') || $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - test/**/*
  image: 
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/test:latest
  dependencies: []
  script:
    - black --check test
    - pylint test/*.py

Test script run:
  stage: deploy
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" && $GITLAB_CI_SCHEDULE_NAME == 'check-health'
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - test/**/*
  image: 
    name: docker-private-snapshots.gesis.intra/gesis/ilcm/orc2/test:latest
  dependencies: []
  script:
    - pytest --binder-url https://notebooks.gesis.org/binder/ --hub-url https://notebooks.gesis.org/binder/jupyter/ test

Update README
  README.md
Due: none

Split dependencies
  .github/workflows/status-verification.yml
  environment.yml
  requirements.dev.txt
  requirements.prod.txt
Due: none

Add links to README
  README.md
Due: none

Improve GitHub description
  .github/workflows/status-verification.yml
Due: none

Add Dockerfile
  .gitlab-ci.yml
  Dockerfile
Due: Build container with Python for test

Provide environment name in GitHub
  .github/workflows/status-verification.yml
Due: none

Fix path in Dockerfile
  Dockerfile
Due: Build container with Python for test

Add conda-forge channel to Docker
  Dockerfile
Due: Build container with Python for test

Set channel for GitHub
  .github/workflows/status-verification.yml
Due: none

Fix missing -f in Dockerfile
  Dockerfile
Due: Build container with Python for test

Add conda activation for GitHub
  .github/workflows/status-verification.yml
Due: none

Add GitHub badge
  README.md
Due: none

Add git to conda environment
  requirements.prod.txt
Due: none

Fix micromamba version
  Dockerfile
Due: Build container with Python for test

Split black and pylint GitLab CI tasks
  .gitlab-ci.yml
Due: none

Add missing LICENSE
  LICENSE
Due: none

Improve README
  CONTRIBUTING.md
  README.md
Due: none

Replace conda with micromamba
  CONTRIBUTING.md
Due: none

Add script to test multiple launches
  test/test_multiple_launch.py
Due: Test script lint, Test script run

Add PyLint configuration file
  .pylintrc
Due: none

Increase requests version
  requirements.prod.txt
Due: none

Downgrade version of requests
  requirements.prod.txt
Due: none

Reformat code with black
  test/test_multiple_launch.py
Due: Test script lint, Test script run

Add support to downstream pipeline
  .gitlab-ci.yml
Due: none

Increase time to build container
  test/test_build.py
Due: Test script lint, Test script run

Change variable name
  test/test_build.py
  test/test_http.py
  test/test_launch.py
Due: Test script lint, Test script run

Improve GitLab CI
  .gitlab-ci.yml
Due: none

Remove sys.stdout.write
  test/test_build.py
Due: Test script lint, Test script run

Reformat file
  test/test_build.py
  test/test_launch.py
Due: Test script lint, Test script run

Remove unused import
  test/test_launch.py
Due: Test script lint, Test script run

Store build log
  .github/workflows/status-verification.yml
  .gitlab-ci.yml
  test/test_build.py
Due: Test script lint, Test script run

Add enconding when open file
  test/test_build.py
Due: Test script lint, Test script run

Only write line after decode.
  test/test_build.py
Due: Test script lint, Test script run

Remove old import
  test/test_build.py
Due: Test script lint, Test script run

Temporarily stop GitHub Actions
  .github/workflows/status-verification.yml
Due: none

Revert "Merge branch 'github-actions-stop' into 'main'"
  .github/workflows/status-verification.yml
Due: none

Change GitHub Actions to run on HH:30
  .github/workflows/status-verification.yml
Due: none
